<header class="page__header">
  <div class="title">
    <img class="unicorn" src="./assets/images/unicorn.png" alt="Unicorn" />
    <h1 class="h1">Awesome Series: find and keep your favourite show</h1>
    <img class="unicorn" src="./assets/images/unicorn.png" alt="Unicorn" />
  </div>

  <input type="text" class="input js-input" placeholder="Escribe el título aquí..." />
  <p class="p js-p"></p>
  <div>
    <button class="search js-btn-search">Search</button>
    <button class="reset js-btn-reset">Reset</button>
  </div>
  <button class="button">LOG</button>
</header>
