body {
  padding: 2rem;
  height: 100vh;
background-color: $color-bg;
 
  
}

.page__main {  
  
  height: 80vh;
  background-image: url('../images/justRainbow.png');
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: $font-main;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2vh;
}

.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  padding-top: 2vh;
  padding-bottom: 3vh;
  background-color: pink;
  color: $color-primary;
  font-size: 1.2rem;
  border: solid $color-primary;
  border-radius: 10%;
}
.img {
  height: 295px;
  width: 210px;
  border: solid $color-primary;
  border-radius: 10%;
}

.favColor {
  width: 300px;
  color: $color-secondary;
  background-color: $color-primary;
}

.p {
  color: red;
  font-size: 2rem;
  background-color: yellow;

}
